html, body { height: 100%; }
.container { min-height: 83%; }
#top-logo { background: url("../images/logo.png"); display: inline-block; height: 100px; margin: 1.5em 0 0 -1em; width: 350px; }

.top-links { display: inline-block; margin: 1em 0 0.5em; text-align: right; width: 97%; }
.top-links a { font-family: arial,sans-serif;  font-size: 12px; text-decoration: underline; }
#login-form { margin: 0 0 0 20px; }
#login { margin: 0.5em 0 0; }
#login a { font-size: 0.8em; margin-left: 14.25em; }
#login .input { padding: 0.1em 0.5em; border-radius: 2px; width: 9.5em; }
#login .go { margin-top: 7px; }

#main-nav-wrapper { border-bottom: 1px dotted #C2E2E7; border-top: 1px dotted #C2E2E7;  margin: 1.5em 0; padding: 2em 0 0.4em; width: 100%; }
#main-nav { list-style: none outside none; margin: 0; padding: 0; text-align: left; position: relative; }
#main-nav li { display: inline-block; }
#main-nav li a { display: inline-block; font-family: trebuchet ms,arial,helvetica,sans-serif; font-size: 25px; margin: 0 2em 0 0; text-decoration: underline; color: #3995BF; }
.banner-gogetlinks { position: absolute; right: 19px; top: -22px; }

h1 { color: #107CB1; color: #4d4d4d;  font: 34px Georgia,serif; margin: 0 0 1em; }
h1 span { font-size: 48px; /*color: #00b6dc;*/}
h2 { color: #107CB1; font: italic 25px georgia,serif; margin-bottom: 0.5em; }

#white_line { background: none; border: 1px solid #C2E2E7; border-style: dotted none none; float: left; height: 63px; margin: 3em 0 0 1.5em; padding: 1.25em 1em 1em 0.5em; width: 890px; }
#white_line span { color: #4D4D4D; display: block; float: left; font-family: trebuchet ms,arial,sans-serif; font-size: 24px; font-weight: normal; margin-top: 15px; }
#content { margin: 0; }
#content tr td { font: 14px/19px trebuchet ms,arial,sans-serif; padding: 30px 7px 7px; }
#webmaster big, #optimizator big { margin: 1.5em 0 1em; display: block; }
#white_line table tr td { width: 130px; padding: 7px 5px; }
#register_tree { margin-top: 3em; }
p { margin: 0 0 1.25em; }

#registration { background: url("../images/tree.png") no-repeat scroll 500px 50px transparent; margin: 0; width: 100%; font: 13px trebuchet ms, sans-serif; }
#registration h2 { font: 24px trebuchet ms,arial,sans-serif; margin: 0.25em 0 1em; }
#registration input, #registration textarea { font: 13px/18px arial,sans-serif; padding: 0.5em; height: 24px; margin-bottom: 15px; color: #333; }
#registration textarea { height: 100px; }
#promo { width: 150px !important; } 
#userRegister {
	background: #2a2a2a;
	background: -moz-linear-gradient(top, #f8d53b 0%, #f09e14 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8d53b), color-stop(100%,#f09e14));
	background: -webkit-linear-gradient(top, #f8d53b 0%, #f09e14 100%);
	background: -o-linear-gradient(top, #f8d53b 0%, #f09e14 100%);
	background: -ms-linear-gradient(top, #f8d53b 0%, #f09e14 100%);
	background: linear-gradient(top, #f8d53b 0%, #f09e14 100%);
	border: 1px solid #999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 1em 2em;
	color: #C51D1F;
	font: 24px/45px georgia,serif;
	height: 60px;
	width: 300px;
	text-align: center;
	-webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
	   -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
	-webkit-box-shadow: 0 0 3px #C0C0C0;
	   -moz-box-shadow: 0 0 3px #C0C0C0;
			box-shadow: 0 0 3px #C0C0C0;
}
.ErrImg { margin-bottom: 15px; margin-left: 10px; }
#msgdealert { color: #B94A48; margin: 0 0 0 5px; padding: 0; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); } 
#footer a, #footer a:hover {color: #fff; display: inline-block; font: 13px trebuchet ms,arial,sans-serif; margin: 1em 0.75em 0; }
#white_line.no-margin { margin: 0 0 0.5em 1.5em; border: 0 none; }
#register_tree.no-margin { margin: 1em 0 0; float: left; width: 440px; background-position: -63px 0; }
h1.whiteline { border: 0 none; }
#who_reviews, #where_reviews { width: auto; margin-top: 0.5em; float: none; }
#who_reviews a, #who_reviews a:hover { display: inline-block; font: 24px trebuchet ms,arial,sans-serif; float: none; }
#who_reviews a:hover { text-decoration: none; color: #1983C6; border-color: #DDF7FB; }
#who_reviews a.active { color: #4d4d4d; cursor: default; }   
#where_reviews { font: 13px trebuchet ms,arial,sans-serif; }
#where_reviews p { float: none; width: auto; margin-bottom: 1em; }
#where_reviews p a { float: none; } 
.smaller p { font-size: 0.9em; }
.smaller ul { list-style: none; } 
	.smaller ul li { line-height: 1.5em; color: #666; font-style: italic; }
.review_post { background: none; border: 0 none; border-top: 1px solid #e0e0e0; border-radius: 0; float: none; height: auto; width: auto; font-size: inherit; padding: 0; margin: 2em 0 0; padding-top: 2em; }
.review_post .avatar { display: block; float: left; margin: 0.25em 0.5em 0 0; text-align: right; width: 100px; height: auto; padding: 0; position: inherit; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

#stable p a:hover, #white_line a:hover { font-size: inherit !important; font-family: trebuchet ms, sans-serif; }
.avatar-wpapper { width: 120px; }
.comment-body { width: 390px; }
#stable .comment-body p a, #stable .comment-body p a:hover { font: 13px/27px trebuchet ms, sans-serif !important; color: #1983C6; }
.comment-title { color: #999999; display: inline-block; font: bold 13px trebuchet ms,sans-serif; margin-bottom: 0.5em;} 
#stable .span5 { width: 420px; }
#content { background-position: 205px top; } 
#webmaster { margin-left: 0; }
#optimizator { margin-right: 25px }
#footer .webmoney { background: #fff; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; color: #333; font-size: 11px; left: 9px; padding: 3px 1px 1px; position: absolute; top: -15px; width: 189px; }

#navigation { position: relative; }
#navigation .top-main-nav { left: 415px; position: absolute; top: 3.2em; }
#navigation .top-main-nav a { display: inline-block; font: 12px/21px arial,sans-serif; margin: 0; padding: 0; text-decoration: underline; }

.ml05 { margin-left: 0.5em; }
#footer a.check-certificate { border-bottom: 1px dotted; display: inline-block; font-size: 10px; line-height: 1.25em; position: absolute; right: -12px; top: -21px; }
