BODY {BACKGROUND-COLOR:#ddf7fb;BACKGROUND-IMAGE:url('../images/bg.png');BACKGROUND-REPEAT:repeat-x;PADDING:0xp;MARGIN:0px;}
*{FONT-FAMILY:Verdana;}
a{FONT-FAMILY:Verdana;FONT-SIZE:14px;COLOR:#1983c6;text-decoration:none;}
a:hover{FONT-FAMILY:Verdana;FONT-SIZE:14px;COLOR:#000040;text-decoration:underline;}
img{BORDER:0px;}
hr{PADDING:0px;MARGIN:0px;BORDER:0px;MARGIN-TOP:0px;MARGIN-BOTTOM:5px;BORDER-BOTTOM:1px #000000 dotted;}
#menu{POSITION:absolute;WIDTH:100%;HEIGHT:117px;LEFT:0px;TOP:213px;PADDING:0px;MARGIN:0px;Z-INDEX:100}

#menu #links #banner{
	MARGIN-TOP:0px;
	MARGIN-LEFT:20px;
	FLOAT:right;
	MARGIN-BOTTOM:15px;
}

#menu #links table{
	MARGIN-TOP:10px;
	MARGIN-LEFT:160px;
	FLOAT:left;
}

#menu #links table tr td a{
	text-decoration:none;
	FONT-SIZE:14px;
	FONT-FAMILY:Verdana;
	COLOR:#FFFFFF;
}

#menu #links table tr td a:hover{text-decoration:underline;FONT-SIZE:14px;FONT-FAMILY:Verdana;COLOR:#000040;}

#main{
	WIDTH:1005px; MARGIN:0 auto;
	POSITION:relative;
}

#main #logo{
	FLOAT:left;
	MARGIN-TOP:10px;
}

#main #logo{
	DISPLAY:BLOCK;
	FLOAT:left;
	MARGIN-LEFT:0px;
	MARGIN-TOP:0px;
	BACKGROUND:url("../images/logo.png") no-repeat 0px 0px;
	WIDTH:290px;
	HEIGHT:100px;
}

#login{
	FLOAT:right;
	MARGIN:0px;
	PADDING:0px;
	MARGIN-TOP:35px;
	WIDTH:380px;
}

#login a{
DISPLAY:block;
MARGIN-LEFT:5px;
FLOAT:left;
}

#login .input{
	FLOAT:left;
	WIDTH:140px;
	HEIGHT:24px;
	BORDER:1px #4fb8e9 solid;
	MARGIN:5px;
	PADDING:0px;
	DISPLAY:inline;
}

#login .go{
	FLOAT:left;
	DISPLAY:inline;
	WIDTH:66px;
	HEIGHT:24px;
	MARGIN:5px;
	PADDING:0px;
}

#main #top_links{
	FLOAT:left;
	MARGIN:0px;
	MARGIN-TOP:40px;
	MARGIN-LEFT:20px;
}

#white_line{
	WIDTH:1005px;
	HEIGHT:63px;
	BACKGROUND-IMAGE:url('../images/white_line.jpg');
	BACKGROUND-REPEAT:no-repeat;
	FLOAT:left;
	MARGIN-TOP:16px;
}

#white_line span{
	DISPLAY:block;
	MARGIN-TOP:20px;
	COLOR:#3995bf;
	FONT-SIZE:14px;
	FONT-FAMILY:Georgia;
	FLOAT:left;
	FONT-WEIGHT:bold;
}

#white_line table{
	FLOAT:right;
}

#white_line table tr td{
	WIDTH:177px;
	PADDING:5px;
}

#white_line table tr td img{
FLOAT:left;
MARGIN-RIGHT:3px;
}

#balance{
WIDTH:485px;
BACKGROUND-COLOR:#FFFFFF;
TEXT-ALIGN:center;
COLOR:#60696d;
FONT-SIZE:18px;
FONT-FAMILY:Verdana;
PADDING:15px;
BORDER:1px #2197c6 solid;
MARGIN-TOP:20px;
}

#panel_table{
WIDTH:100%;
BACKGROUND-COLOR:#FFFFFF;
FLOAT:left;
}

#panel_table #titles{
HEIGHT:76px;
BACKGROUND-IMAGE:url('../images/bg_title_table.jpg');
BACKGROUND-REPEAT:repeat-x;
}

#panel_table #titles td{
COLOR:#FFFFFF;
TEXT-ALIGN:center;
}


#panel_table tr td{
COLOR:#000000;
PADDING:8px;
}

#panel_table tr .line{
BORDER-BOTTOM:1px #000000 dotted;
PADDING:0px;
}

#birgi{
WIDTH:515px;
BACKGROUND-COLOR:#FFFFFF;
}

#birgi #titles{
HEIGHT:46px;
BACKGROUND-IMAGE:url('../images/birga_bg.jpg');
BACKGROUND-REPEAT:repeat-x;
}

#birgi #titles td{
COLOR:#FFFFFF;
TEXT-ALIGN:center;
}

#birgi tr td{
COLOR:#000000;
PADDING:8px;
}

#birgi tr .line{
BORDER-BOTTOM:1px #000000 dotted;
PADDING:0px;
}

#main .top_status{
	PADDING:5px;
	PADDING-LEFT:7px;
	PADDING-RIGHT:7px;
	FLOAT:left;
	MARGIN-LEFT:100px;
	min-width: 300px;
	BACKGROUND-COLOR:#cbf6ff;
	BORDER:1px #239ac8 solid;
	MARGIN-TOP:10px;
	FONT-FAMILY:Verdana;
}

#main .top_status .top5{
	margin:5px 0 5px 0;
}

#profile{
WIDTH:515px;
FLOAT:left;
MARGIN-TOP:200px;
MARGIN-LEFT:245px;
COLOR:#60696d;
FONT-FAMILY:Verdana;
FONT-SIZE:14px;
MARGIN-TOP:10px;
}

#profile .edit{
WIDTH:128px;
HEIGHT:42px;
BORDER:0px;
}

#profile .add_money{
WIDTH:128px;
HEIGHT:36px;
BORDER:0px;
FLOAT:right;
}

#profile tr td{
COLOR:#60696d;
FONT-FAMILY:Verdana;
FONT-SIZE:14px;
PADDING-LEFT:10px;
}

#profile input{
MARGIN-BOTTOM:20px;
WIDTH:100%;
HEIGHT:36px;
filter: alpha(opacity=80);
opacity:0.8;
BORDER:1px #38bedf solid;
FLOAT:left;
}

#profile span{
LINE-HEIGHT:250%;
FLOAT:left;
PADDING-RIGHT:20px;
DISPLAY:block;
}

#profile .add_place input, #profile .add_place select{
WIDTH:154px;
DISPLAY:block;
FLOAT:left;
HEIGHT:36px;
MARGIN:5px;
MARGIN-LEFT:0px;
MARGIN-RIGHT:10px;
BORDER:1px #38bedf solid;
}

#registration big, #profile big{
DISPLAY:block;
WIDTH:100%;
MARGIN-BOTTOM:10px;
BORDER-BOTTOM:1px #38bedf solid;
}

#register_tree{
	WIDTH:515px;
	FLOAT:left;
	MARGIN-TOP:200px;
	MARGIN-LEFT:245px;
	BACKGROUND-IMAGE:url('../images/register.png');
	BACKGROUND-REPEAT:no-repeat;
	BACKGROUND-POSITION:top center;
	COLOR:#60696d;
	min-height: 500px;
	FONT-FAMILY:Verdana;
	FONT-SIZE:14px;
}

#registration{
	WIDTH:515px;
	FLOAT:left;
	MARGIN-TOP:200px;
	MARGIN-LEFT:245px;
	BACKGROUND-IMAGE:url('../images/tree.png');
	BACKGROUND-REPEAT:no-repeat;
	BACKGROUND-POSITION:top center;
	COLOR:#60696d;
	min-height: 500px;
	FONT-FAMILY:Verdana;
	FONT-SIZE:14px;
}

#registration input{
	font: normal 18px/24px serif;
	MARGIN-BOTTOM:20px;
	WIDTH:487px;
	HEIGHT:32px;
	filter: alpha(opacity=80);
	opacity:0.8;
	
}

#registration textarea{
	font: normal 18px/24px serif;
	MARGIN-BOTTOM:20px;
	WIDTH:487px;
	HEIGHT:100px;
	filter: alpha(opacity=80);
	opacity:0.8;
	
}

#registration big{
	font: normal 22px/24px serif;
	text-align:center;
	margin-bottom: 10px;"
	DISPLAY:block;
	WIDTH:100%;
	BORDER-BOTTOM:1px #38bedf solid;
}

#registration .checkbox{
FLOAT:left;
WIDTH:15px;
HEIGHT:14px;
}

#registration .reg_go{
	WIDTH:420px;
	HEIGHT:97px;
	MARGIN-LEFT:35px;
}

#search{
WIDTH:500px;
MARGIN-LEFT:260px;
FLOAT:left;
PADDING:0px;
}

#search input{
WIDTH:454px;
FLOAT:left;
HEIGHT:36px;
BORDER:1px #3ec6e4 solid;
}

#search #go{
WIDTH:36px;
FLOAT:left;
HEIGHT:36px;
BORDER:0px;
}

#panel_menu{
	WIDTH:100%;
	FLOAT:left;
	MARGIN:0 0 10px 150px;
}

#panel_menu a{
	DISPLAY:block;
	PADDING:8px;
	FLOAT:left;
}

#panel_menu select{
WIDTH:206px;
HEIGHT:22px;
FLOAT:right;
MARGIN-TOP:5px;
}

#panel_menu a:hover{
	background-color: #3ec3e6;
	color:#000040;
	text-decoration:none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#content{
	FLOAT:left;
	WIDTH:1005px;
	MARGIN-TOP:180px;
	BACKGROUND-IMAGE:url('../images/tree.png');
	BACKGROUND-REPEAT:no-repeat;
	BACKGROUND-POSITION:top center;
}

#stable{
	FLOAT:left;
	WIDTH:960px;
	MARGIN-TOP:150px;
}

#new_ticket{
	DISPLAY:block;
	FLOAT:left;
	BACKGROUND-IMAGE:url('../images/new_ticket.jpg');
	BACKGROUND-REPEAT:no-repeat;
	WIDTH:129px;
	HEIGHT:42px;
	MARGIN-TOP:10px;
}

#select_pages{
	MARGIN-TOP:10px;
	FLOAT:left;
	WIDTH:100%;
	PADDING:0px;
	BACKGROUND-COLOR:#FFFFFF;
}

#select_pages a{
	DISPLAY:block;
	FLOAT:left;
	PADDING:5px;
	PADDING-LEFT:9px;
	PADDING-RIGHT:9px;
	MARGIN:5px;
	COLOR:#524a44;
}

#select_pages a:hover{
BACKGROUND-COLOR:#1a90c0;
COLOR:#FFFFFF;
}

#select_pages #back{
DISPLAY:block;
FLOAT:left;
PADDING:0px;
MARGIN:5px;
BACKGROUND-IMAGE:url('../images/back.jpg');
BACKGROUND-REPEAT:no-repeat;
WIDTH:26px;
HEIGHT:12px;
MARGIN-TOP:13px;
}

#select_pages #next{
DISPLAY:block;
FLOAT:left;
PADDING:0px;
MARGIN:5px;
BACKGROUND-IMAGE:url('../images/next.jpg');
BACKGROUND-REPEAT:no-repeat;
WIDTH:33px;
HEIGHT:12px;
MARGIN-TOP:13px;
}

#panel_segments{
WIDTH:750px;
MARGIN-LEFT:128px;
}

.panel_segment{
FLOAT:left;
WIDTH:230px;
BORDER:1px #34b7d9 solid;
BACKGROUND-COLOR:#FFFFFF;
FONT-SIZE:12px;
FONT-FAMILY:Verdana;
PADDING:0px;
MARGIN:8px;

}

.panel_segment .text{
MARGIN:7px;
FLOAT:left;
WIDTH:125px;
}

.panel_segment img{
FLOAT:left;
DISPLAY:block;
MARGIN-LEFT:10px;
MARGIN-RIGHT:10px;
}

.panel_segment big{
FLOAT:left;
WIDTH:220px;
TEXT-ALIGN:center;
PADDING:5px;
BACKGROUND-IMAGE:url('../images/birga_bg.jpg');
BACKGROUND-REPEAT:repeat-x;
}

.panel_segment big a{
	COLOR:#FFFFFF;
}
.panel_segment big a:hover{
	color:#000040;
	text-decoration:underline;
}

#content tr td{
FONT-FAMILY:Verdana;
FONT-SIZE:14px;
PADDING:7px;
PADDING-TOP:30px;
}

#content tr td #register{
FLOAT:left;
WIDTH:375px;
HEIGHT:463px;
}

#content tr td span{
COLOR:#107cb1;
FONT-FAMILY:Georgia;
FONT-SIZE:22px;
MARGIN-TOP:20px;
}

#content tr td span big{
FONT-SIZE:40px;
}

#footer_bg{
MARGIN-TOP:100px;
PADDING:0px;
MARGIN:0px;
FLOAT:left;
MARGIN-TOP:50px;
WIDTH:100%;
HEIGHT:111px;
BACKGROUND-IMAGE:url('../images/footer_bg2.jpg');
BACKGROUND-REPEAT:repeat-x;
}

#footer{
PADDING:0px;
MARGIN:0px;
FLOAT:left;
WIDTH:100%;
HEIGHT:71px;
PADDING-TOP:40px;
BACKGROUND-IMAGE:url('../images/footer_bg.jpg');
BACKGROUND-REPEAT:no-repeat;
TEXT-ALIGN:center;
POSITION:absolute;
}

#footer a{
MARGIN-LEFT:30px;
COLOR:#FFFFFF;
FONT-FAMILY:Verdana;
FONT-SIZE:14px;
}
#footer a:hover{MARGIN-LEFT:30px;COLOR:#000040;FONT-FAMILY:Verdana;FONT-SIZE:14px; text-decoration:underline;}

#webmaster{
FLOAT:left;
WIDTH:315px;
MARGIN-LEFT:50px;
}

#webmaster big, #optimizator big{
FONT-FAMILY:Georgia;
FONT-WEIGHT:bold;
COLOR:#107cb1;
FONT-SIZE:30px;
}

#webmaster ul, #optimizator ul{
list-style-type:none;
MARGIN:0px;
PADDING:0px;
MARGIN-TOP:10px;
}

#webmaster ul li, #optimizator ul li{
MARGIN:0px;
PADDING:0px;
MARGIN-BOTTOM:15px;
BACKGROUND-IMAGE:url('../images/str.png');
BACKGROUND-REPEAT:no-repeat;
PADDING-LEFT:15px;
}

#webmaster a, #optimizator a{
text-decoration:none;
DISPLAY:block;
BACKGROUND-IMAGE:url('../images/more.png');
BACKGROUND-REPEAT:no-repeat;
WIDTH:299px;
HEIGHT:68px;
}
#webmaster a, #optimizator a:hover{text-decoration:none;}

#optimizator{
FLOAT:right;
WIDTH:315px;
MARGIN-RIGHT:50px;
}

#social_network{
WIDTH:100%;
FLOAT:left;
MARGIN-TOP:30px;
TEXT-ALIGN:center;
}

#social_network img{
MARGIN:8px;
}
#social_network span{
DISPLAY:block;
MARGIN:10px;
COLOR:#12a1cd;
FONT-FAMILY:Verdana;
FONT-SIZE:18px;
}

#counters{
POSITION:absolute;
TOP:50px;
RIGHT:30px;
}

.center{
MARGIN:0 auto;
WIDTH:600px;
MARGIN-TOP:100px;
}

#not_found{
	FLOAT:left;
	WIDTH:600px;
	HEIGHT:500px;
	BACKGROUND-IMAGE:url("../images/404.png");
	BACKGROUND-REPEAT:no-repeat;
	BACKGROUND-POSITION:5px 90px;
}

#not_found h1{
	COLOR:#455153;
	FONT-FAMILY:Georgia;
	FONT-SIZE:50px;
	FONT-WEIGHT:normal;
}

#not_found #left{
	FLOAT:left;
	WIDTH:400px;
	MARGIN-TOP:250px;
	COLOR:#455153;
	FONT-SIZE:18px;
	FONT-FAMILY:Georgia;
	LINE-HEIGHT:170%;
}

#not_found #right{
	FLOAT:right;
	WIDTH:180px;
	MARGIN-TOP:250px;
	COLOR:#455153;
	FONT-SIZE:18px;
	FONT-FAMILY:Georgia;
	LINE-HEIGHT:170%;
}

#recovery {
	float:left;
	WIDTH:100%;
	MIN-HEIGHT:470px;
	BACKGROUND:url(../images/recovery_bg.png) no-repeat 0px 0px;
}
	
#recovery form{
	FLOAT:right;
	DISPLAY:block;
	WIDTH:500px;
	COLOR:#60696d;
	FONT-SIZE:12px;
	LINE-HEIGHT:150%;
}
	
#recovery form input[type="text"]{
	FONT-SIZE:24px;
	FLOAT:left;
	WIDTH:500px;
	HEIGHT:35px;
	BORDER:1px #38bedf solid;
}
	
#recovery form input[type="submit"]{
	FLOAT:left;
	WIDTH:128px;
	HEIGHT:43px;
	BACKGROUND:url(../images/recovery_button.png) no-repeat 0px 0px;
	BORDER:0px #000000 solid;
	MARGIN-TOP:20px;
}
	
#recovery form h1{
	FLOAT:left;
	DISPLAY:block;
	WIDTH:100%;
	FONT-WEIGHT:normal;
	FONT-SIZE:14px;
	BORDER-BOTTOM:1px #38bedf solid;
	COLOR:#000000;
	MARGIN-BOTTOM:20px;
}

#not_found #left big, #not_found #right big{
	FONT-SIZE:24px;
	FONT-FAMILY:Georgia;
}

.ErrImg{
	margin-left:5px;
	cursor:help;
}
.UserPanel{
	margin-left:25px;
}

.platform_td{
	width:30px;
	text-align:center;
}

.megaselectlistcolumn {width: 23%;margin: 0 1%;	float: left;}
.megaselectlist .currentitem {padding: 0;border: 0.1em dotted Green;color: Black;}
.megaselectlist {padding: 5px;}
.megaselectlistcolumn > h2 {font-size: 1em;	background-color: #ECECEC;text-align: center;padding: 2px 0;margin: 0;}
.megaselectlist > p {margin: 0.2em;}
.megaselectlistcolumn > ul {padding-left: 1em;margin: 0;color: Gray;}
.megaselectlistcolumn > ul > li {cursor: pointer;padding: 0.1em;font-size: small;text-align: left;}
.megaselectlistcolumn > ul > li:hover {background-color: #ECECEC;color: Black;}
#megaselectlist .megaselectlistoptions {display: none;}
#megaselectlist:hover .megaselectlistoptions {display: block;}
#megaselectlist1 p span{font-weight:bold;padding-left: 50px;}

#panel_table {background-color: #FFFFFF; float: left; width: 100%;}
table.sel {background: none repeat scroll 0 0 transparent !important;padding: 5px;}
#panel_table tr td {color: #000000;padding: 8px;text-align: center;}
table.sel td {border: 1px dotted #999999;font-size: 14px;}
#panel_table input{height: 20px;font: normal 18px/24px serif;filter: alpha(opacity=80);opacity:0.8;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
#btnDelMarketLine{display: none;}
.left {float: left;}
.label-input, .date-label-input {display: block;font: bold 12px arial,sans-serif;margin: 10px 0 5px;}

.reg-form-input{
	background: none repeat scroll 0 0 #FAFAFA;
	border: 1px solid #D0D0D0;
	border-radius: 5px 5px 5px 5px;
	font: 12px arial,sans-serif;
	letter-spacing: 1px;
	margin: 2px 5px 0 0;
	padding: 7px;
	width: 270px;
}

.goog-button {
	background: -moz-linear-gradient(center top, #FFFFFF, #DDDDDD) repeat scroll 0 0 transparent;
	border-color: #BBBBBB #999999 #999999 #BBBBBB;
	border-radius: 2px 2px 2px 2px;
	border-style: solid;
	border-width: 1px;
	color: #000000;
	cursor: pointer;
	display: inline-block;
	outline-style: none;
	padding: 2px 4px;
	text-decoration: none;
}
.btn-action{display: block;float: left;	margin-top: 20px;background-color: #3ec3e6;	color:#000040;padding: 10px;text-decoration:none;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.small{width:63px; margin:0 3px;;}

input.mb10 {margin-bottom: 10px;}
input.mt7 {margin-top: 7px;}

.w100{width: 100px;}
.w250{width: 250px;}
.w230{width: 230px;}
.w205{width: 205px;}
.w275{width: 275px;}
.w260{width: 260px;}
.w195{width: 195px;}
.w700{width: 700px;}
.w50{width: 50px;}
.w85{width: 85px;}